.root {
    -fx-background-image:url('/resources/images/cover.jpg');
}

.list-cell {
  -fx-font-family: "Lucida Calligraphy";
    -fx-font-size: 22;
}
.text-area {
     -fx-font-family: "Lucida Calligraphy";
    -fx-font-size: 26;
    -fx-text-fill: #6666ff;
}

.text-area .content {
    -fx-background-color: #333333;
}

#battle-button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #000033;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
 -fx-font-family: "Lucida Calligraphy";
    
}

.button {
    -fx-background-color: 
       linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#offline-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #99ffcc;
}

.transparent-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #99ffcc;
}

.text-field {
    -fx-background-color: #333333;
    -fx-text-fill: #6666ff;
    -fx-font-family: "Lucida Calligraphy";
}
