.root {
     -fx-background-image: url("../images/loggin.jpg") ;
     -fx-background-repeat: no-repeat;
      -fx-background-size:stretch;
     -fx-margin-top: 50px;
    -fx-font-family: "Lucida Calligraphy"; 
}
.label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: whitesmoke;
    -fx-font-family: "Lucida Calligraphy";
}
#Welcome_txt{
-fx-font-family: "Lucida Calligraphy";
-fx-font-size: 32px;
-fx-font-weight: bold;
   -fx-fill: white;
}
#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}
.button,#signUp {
-fx-font-family: "Lucida Calligraphy";

    -fx-background-color: indigo;
    -fx-background-radius: 15;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 10 10 10 10;
    -fx-margin-Top:50px;
    
}
.button:hover ,#signUp:hover{
    -fx-font-family: "Lucida Calligraphy";
-fx-background-color: whitesmoke;
    -fx-text-fill: indigo;
    
}
